.oo-vars {
    --oo-c-white: #ffffff;
    --oo-c-white-1: #f8f8f8;
    --oo-c-white-2: #f2f2f2;

    --oo-c-black: #181818;
    --oo-c-black-1: #222222;
    --oo-c-black-2: #282828;

    --oo-c-negative-darker: #d51730;
    --oo-c-negative-lighter: #ff5e73;
    --oo-c-negative-hl: #ff5e7350;
    --oo-c-warning: orange;
    --oo-c-neutral: #25AFDB;
    --oo-c-hl: #88888850;
    --oo-c-neutral-hl: #25AFDB50;
    --oo-c-neutral-2: #db2592;
    --oo-c-positive-darker: #04c16c;
    --oo-c-positive-lighter: #20d584;
    
    --oo-c-gray: #888888;

    --oo-c-brand: #25AFDB;

    --oo-border-radius: 4px;

    --oo-transition: 0.2s ease-in-out;

    --oo-token-padding: 2px 4px 2px 8px;
    --oo-token-border-radius: 4px;
    --oo-token-font-size: calc(var(--oo-input-font-size) * 0.8);
}
.oo-vars {
    --oo-space-gap: 5px;
    --oo-space-s: 8px;
    --oo-space-m: calc(var(--oo-space-s) * 2);
    --oo-space-l: calc(var(--oo-space-s) * 4);
    --oo-space-input: 12px;

    --oo-text-p: 5px var(--oo-space-input);
    
    --oo-input-height: 40px;
    --oo-input-font-size: 16px;
    --oo-input-padding: 6px var(--oo-space-input);
    --oo-input-icon-size: 16px;
}

/* Utility Classes for Margins */
.oo-vars .oo-m-s {
    margin: var(--oo-space-s);
}

.oo-vars .oo-m-m {
    margin: var(--oo-space-m);
}

.oo-vars .oo-m-l {
    margin: var(--oo-space-l);
}

.oo-vars .oo-mt-s {
    margin-top: var(--oo-space-s);
}

.oo-vars .oo-mt-m {
    margin-top: var(--oo-space-m);
}

.oo-vars .oo-mt-l {
    margin-top: var(--oo-space-l);
}

.oo-vars .oo-mb-s {
    margin-bottom: var(--oo-space-s);
}

.oo-vars .oo-mb-m {
    margin-bottom: var(--oo-space-m);
}

.oo-vars .oo-mb-l {
    margin-bottom: var(--oo-space-l);
}

.oo-vars .oo-mr-s {
    margin-right: var(--oo-space-s);
}

.oo-vars .oo-mr-m {
    margin-right: var(--oo-space-m);
}

.oo-vars .oo-mr-l {
    margin-right: var(--oo-space-l);
}

.oo-vars .oo-ml-s {
    margin-left: var(--oo-space-s);
}

.oo-vars .oo-ml-m {
    margin-left: var(--oo-space-m);
}

.oo-vars .oo-ml-l {
    margin-left: var(--oo-space-l);
}

/* Utility Classes for Paddings */
.oo-vars .oo-p-s {
    padding: var(--oo-space-s);
}

.oo-vars .oo-p-m {
    padding: var(--oo-space-m);
}

.oo-vars .oo-p-l {
    padding: var(--oo-space-l);
}

.oo-vars .oo-pt-s {
    padding-top: var(--oo-space-s);
}

.oo-vars .oo-pt-m {
    padding-top: var(--oo-space-m);
}

.oo-vars .oo-pt-l {
    padding-top: var(--oo-space-l);
}

.oo-vars .oo-pb-s {
    padding-bottom: var(--oo-space-s);
}

.oo-vars .oo-pb-m {
    padding-bottom: var(--oo-space-m);
}

.oo-vars .oo-pb-l {
    padding-bottom: var(--oo-space-l);
}

.oo-vars .oo-pr-s {
    padding-right: var(--oo-space-s);
}

.oo-vars .oo-pr-m {
    padding-right: var(--oo-space-m);
}

.oo-vars .oo-pr-l {
    padding-right: var(--oo-space-l);
}

.oo-vars .oo-pl-s {
    padding-left: var(--oo-space-s);
}

.oo-vars .oo-pl-m {
    padding-left: var(--oo-space-m);
}

.oo-vars .oo-pl-l {
    padding-left: var(--oo-space-l);
}

.oo-vars .oo-text-p {
    padding: var(--oo-text-p);
}

.oo-vars,
.light .oo-vars,
.light.oo-vars {
    --oo-c-background: var(--oo-c-white);
    --oo-c-background-1: var(--oo-c-white-1);
    --oo-c-background-2: var(--oo-c-white-2);

    --oo-c-heading: var(--oo-c-brand);
    --oo-c-text: var(--oo-c-black);
    --oo-c-text-1: var(--oo-c-black-1);
    --oo-c-text-2: var(--oo-c-black-2);
    --oo-c-border: #00000020;
    --oo-c-border-1: #00000040;

    --oo-c-positive: var(--oo-c-positive-darker);
    --oo-c-negative: var(--oo-c-negative-darker);
}

.dark .oo-vars,
.dark.oo-vars {
    --oo-c-background: var(--oo-c-black);
    --oo-c-background-1: var(--oo-c-black-1);
    --oo-c-background-2: var(--oo-c-black-2);

    --oo-c-heading: var(--oo-c-brand);
    --oo-c-text: var(--oo-c-white);
    --oo-c-text-1: var(--oo-c-white-1);
    --oo-c-text-2: var(--oo-c-white-2);
    --oo-c-border: #ffffff20;
    --oo-c-border-1: #ffffff40;

    --oo-c-positive: var(--oo-c-positive-lighter);
    --oo-c-negative: var(--oo-c-negative-lighter);
}

.oo-vars.dark input:-webkit-autofill,
.oo-vars.dark input:-webkit-autofill:hover,
.oo-vars.dark input:-webkit-autofill:focus,
.oo-vars.dark input:-webkit-autofill:active,
.dark .oo-vars input:-webkit-autofill,
.dark .oo-vars input:-webkit-autofill:hover,
.dark .oo-vars input:-webkit-autofill:focus,
.dark .oo-vars input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgba(70, 90, 126, 1) inset !important;
    background-color: rgba(70, 90, 126, 0.4) !important;
    color: var(--oo-c-white-2) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--oo-c-white-2) !important;
}/* Color classes based on the provided variables */

.oo-vars .oo-text-negative {
    color: var(--oo-c-negative);
}

.oo-vars .oo-text-warning {
    color: var(--oo-c-warning);
}

.oo-vars .oo-text-neutral {
    color: var(--oo-c-neutral);
}

.oo-vars .oo-text-neutral-2 {
    color: var(--oo-c-neutral-2);
}

.oo-vars .oo-text-positive {
    color: var(--oo-c-positive);
}

.oo-vars .oo-text-white {
    color: var(--oo-c-white);
}

.oo-vars .oo-text-white-1 {
    color: var(--oo-c-white-1);
}

.oo-vars .oo-text-white-2 {
    color: var(--oo-c-white-2);
}

.oo-vars .oo-text-black {
    color: var(--oo-c-black);
}

.oo-vars .oo-text-black-1 {
    color: var(--oo-c-black-1);
}

.oo-vars .oo-text-black-2 {
    color: var(--oo-c-black-2);
}

.oo-vars .oo-text-heading {
    color: var(--oo-c-heading);
}

.oo-vars .oo-text {
    color: var(--oo-c-text);
}

.oo-vars .oo-text-1 {
    color: var(--oo-c-text-1);
}

.oo-vars .oo-text-2 {
    color: var(--oo-c-text-2);
}

.oo-vars .oo-text-background {
    color: var(--oo-c-background);
}

.oo-vars .oo-text-background-1 {
    color: var(--oo-c-background-1);
}

.oo-vars .oo-text-background-2 {
    color: var(--oo-c-background-2);
}

.oo-vars .oo-bordered {
    border: 1px solid var(--oo-c-border);
    border-radius: var(--oo-border-radius);
}

.oo-vars .oo-bg {
    background-color: var(--oo-c-background);
}
.oo-vars .oo-bg-1 {
    background-color: var(--oo-c-background-1);
}
.oo-vars .oo-bg-2 {
    background-color: var(--oo-c-background-2);
}
.oo-vars .oo-bg-hegative {
    background-color: var(--oo-c-negative);
}
.oo-vars .oo-bg-positive {
    background-color: var(--oo-c-positive);
}
.oo-vars .oo-bg-warning {
    background-color: var(--oo-c-warning);
}
.oo-vars .oo-bg-neutral {
    background-color: var(--oo-c-neutral);
}
.oo-vars .oo-bg-neutral-2 {
    background-color: var(--oo-c-neutral-2);
}
.oo-vars .oo-bg-brand {
    background-color: var(--oo-c-brand);
}