*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  background-color: #101010;
}

body {
  min-height: 100vh;
  opacity: 0;
  color: var(--oo-c-text);
  background: var(--oo-c-background);
  line-height: 1.6;
  transition: opacity 0.1s ease;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
}

body.loaded {
  opacity: 1;
  transition:
      color 0.5s,
      background-color 0.5s;
}

.oo-vars .svg-btn {
  background-color: transparent;
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  color: var(--oo-c-text);
  cursor: pointer;
}

.oo-vars .svg-btn:focus {
  outline: 2px solid var(--oo-c-neutral);
  outline-offset: -2px;
  opacity: 1;
}