@import './base.css';
@import '../../src/oo-form-vars.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    width: 100%;
    max-width: 450px;
  }
}
